body{
    margin: 0; 
}
video{
    position: fixed; /*para fijar el video de fondo de pantalla*/
    min-height: 100%; /*para establcer un minimo de altura*/
    min-width: 100%; /*para establcer un minimo de amplio*/
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);   /*esto sirve para centrar el video en el centro*/
    z-index: -1; /*esto sirve para poner el video como ultima capa de la pagina*/
}
.header{
    background-color: black; /*para establecer el color de fondo*/
    
    opacity: 0.6;
    
    
}
.header img{
    height: 7em;    /*el tama単o de la imagen*/
    
}
.flex-container{
    display: flex; /*para aplicar la funcion flex*/
    justify-content: flex-start; /*empezar el flex desde el principio*/
    align-items: flex-end; /*aliniar items al final de su tama単o osea abajo*/
    justify-content: space-between; /*ajusta los div a los laterales*/
    
}
.flex-container div{
    margin: 10px; /*para deajar margen entre los div*/
}
.flex-container a{
    
    display: flex;
    margin-left: 10px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: none;
    font-weight: 900;
    
    
}
.footer{
    display: flex;
    justify-content: space-between;
    
    
    
}
.footer img{
    
    width: 7%; /*para asignar un tama単o a las imagenes*/
   
}
.imagenes{
    
    width: 30%;
    text-align: right; /*para alinear los logos a la derecha*/
    margin-top: 10px;
    
}
.container1 h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /*para cambiar la fuente del titulo*/
    font-weight: 1200; /*para darle grosor al titulo*/
    color: orangered; /*para cambiar el color*/
    font-size: 50px; /*cambiar el tama単o del titulo*/
}
.container1 h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: white;
}
.container2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.item7{
    width: 80%;
}
.item1 { grid-area: uno; }
.item2 { grid-area: dos; }
.item3 { grid-area: tres; }
.item4 { grid-area: quatro; }
.item5 { grid-area: cinco; }
.item6 { grid-area: seis; }
.item7 { grid-area: siete; }
.item8 { grid-area: ocho; }
.item9 { grid-area: nueve; }

.container2 {
    display: grid;
    grid-template-areas:
      'uno siete'             /*el display grid nos permite maquetar la pagina como nosotros queramos*/
      'dos siete '
      'tres siete '
      'quatro siete'
      'cinco siete '
      'seis siete';
    
}
.container1{
    margin: 10px;

}
.container2{
    margin: 10px;
    border: white solid 2px;
    width: 70%;
    border-radius: 7px; /*poner los marcos redondos*/

}
.footer{
    margin: 10px;
    color: white;
    
}
.container2 a{
    color: white;
    font-weight: bold;
    font-style: italic;  /*poner letra en cursiva*/
}

.item7{
    margin-top: 100px;
    margin-left: 50px;
}
.container2 p{
    text-indent: 2%;  /*poner sangria*/
    text-align: justify; /*justificar el parrafo*/

}


