body{
    background-color: black;
}
.header{
    background-color: black; /*para establecer el color de fondo*/
    
    opacity: 0.6;
    
    
}
.header img{
    height: 7em;    /*el tamaño de la imagen*/
    
}
.flex-container{
    display: flex; /*para aplicar la funcion flex*/
    justify-content: flex-start; /*empezar el flex desde el principio*/
    align-items: flex-end; /*aliniar items al final de su tamaño osea abajo*/
    justify-content: space-between; /*ajusta los div a los laterales*/
    
}
.flex-container div{
    margin: 10px; /*para deajar margen entre los div*/
}
.flex-container a{
    
    display: flex;
    margin-left: 10px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: none;
    font-weight: 900;
    
    
}
.container1{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
    font-size: 16px;
}
.container2 img{
    margin-left: 10px;
    margin: 5px;

}
.container2 p{
    margin-left: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    text-align: justify;
}
.container2{
    display: flex;
    flex-direction: row;
    border: white solid 2px;
    width: 1200px;
}
.footer{
    color: white;

}
.footerhr{
    margin-top: 175px;
}